# Supabase Configuration
# ⚠️ RED LINE: Only use anon_key, NEVER service_role key on client side
# NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

NEXT_PUBLIC_SUPABASE_URL=https://gxapnkkznirtyowlxbqq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_W0bVHpPFoH7-JSD3WI7l3w_v4eRenm_
